<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="WebShopDBAss3ConnectionString" connectionString="Data Source=cvm110f94y.database.windows.net;Initial Catalog=WebShopDBAss3;Persist Security Info=True;User ID=tomerdoiServer;Password=beuHer16"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <controls>
        <add tagPrefix="ajaxtoolkit"
                    namespace="AjaxControlToolkit"
                    assembly="AjaxControlToolKit"/>
      </controls>
    </pages>
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebService1Soap" />
        <binding name="WebService2Soap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8735/WebService1.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebService1Soap" contract="ServiceReference1.WebService1Soap"
        name="WebService1Soap" />
      <endpoint address="http://localhost:8735/WebService2.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebService2Soap" contract="ServiceReference2.WebService2Soap"
        name="WebService2Soap" />
    </client>
  </system.serviceModel>
</configuration>